{% extends "base.html" %} {% block content %}

<!-- <h2><center>Perfect Shot</center></h2> -->
<h2 style="color:rgb(255,0,0)"><center>Perfect Shot</center></h2>
<h4><center><img src="/static/camera2_small.png"></center width="50" height="10"></h4>
<h4><center>Select the best photo from a bunch you took</center></h4>


<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload images...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" multiple>
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview" id="imagePreviewContainer">
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Best Photo!</button>
        </div>
    </div>

    <div class="loader" style="clear:both;display:none;"></div>

    <div id="result" style="clear:both;">
      <h4>Best photo:</h4>
      <div id="resultContainer" class="img-preview"></div>
    </div>

</div>

{% endblock %}
